doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://planit-develmode.herokuapp.com/stylesheets/dist/css/app.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap' rel='stylesheet')
    link(rel='shortcut icon' href='https://planit-develmode.herokuapp.com/images/logo.ico')
    title Planit
  body.login
    .form__logo--container
        img(src='https://planit-develmode.herokuapp.com/images/logo.svg').form--logo

    div.login__form
        .login__form--formField
            label(for="username") Username
            input(type="text").signup__value--email

        .login__form--formField
            label(for="password") Password
            input(type="password").signup__value--password
        
        .login__form--formField
            label(for="password") Repeat password
            input(type="password").signup__value--repeatPassword

        .login__form--redirect
            a(href="login") Already have an account?

        .login__form--button
            button.login__button.login__button--signup SIGN UP

    script(src="/javascripts/config.js")
    script(src="/javascripts/signup.js")
