$planitYellow: #F7D347;
$white: #FFFFFF;
$buttonShadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.15);
$grey: #f8f9fa;
$darkgrey: #343a40;
$mediumgrey: #dee2e6;
$mediumlightgrey: #e9ecef;
$mediumdarkgrey: #ced4da;